@import '../../../../../../shared';

.form {
  margin-top: 28px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.policyNumberInput {
  @include input-text-light;
  width: 242px;
  height: 65px;
  background-color: #ffffff;
  border: solid 1px #faf3f3;
  outline: none;
  padding: 0 11px;
}

.submitButton {
  width: 65px;
  height: 65px;
  background-color: #ffffff!important;
  padding: 0;
  border-radius: 50%;
  display: flex;
}

.claimSearchImg {
  height: 30px;
  width: auto;
  margin: auto;
}