@import "../../../../shared.scss";

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.submitButton {
  width: 100%;
}

.formSwitcher {
  margin: 15px 0 30px 0;
}

.formError {
  width: 100%;
  @include input-error-text-light;
  text-align: center;
  margin-bottom: 15px;
}

.passwordVisibilityIconContainer {
  padding: 10px;
  background: none;
  position: absolute;
  right: 0;
}

.passwordVisibilityIcon {
  width: 27px;
  height: auto;
}

.passwordInput {
  padding-right: 50px;
}

.fullWidthField {
  width: 100%;
}

.passwordField {
  margin-bottom: 13px;
}