@import '../../../../shared.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radioContainer {
  @include semi-bold-text-grey;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 33.3%;
  flex: 0 0 auto;
  margin-bottom: 28px;
  justify-content: center;
}

.radio {
  width: 20px;
  height: 20px;
  background-color: #eff3f5;
  margin-right: 20px;
  display: flex;
  border-radius: 50%;
}

.checkedCircle {
  width: 10px;
  height: 10px;
  margin: auto;
  background: $primary-color;
  border-radius: 50%;
}

@media all and (max-width: $breakpoint-767){
  .radioContainer {
    width: 50%;
  }
}