.recommendationsList {
  width: 1024px;
  display: flex;
  margin: 34px auto;
  justify-content: space-around;
}

.buttonContainer {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}